.Products {
  display: flex;
  align-items: center;
}
.img {
  width: 58px;
  height: 58px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}
.name {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}

.block {
  height: 60px;
  display: flex;
  align-items: center;
}

.block:hover {
  background-color: #525050;
}
