.profile {
  background-color: white;
  z-index: 100;
  position: absolute;
  top: 90px;
  border: 1px solid gray;
}

.entry {
  background-color: grey;
  padding: 20px;
}
.entry span {
  text-decoration: underline;
}

.entry span:hover {
  color: blue;
}

.entry span:first-child {
  margin-right: 20px;
}

.options {
  padding: 0;
  padding-right: 20px;
}

.options ul {
  list-style: none;
}

.options ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.options ul li:hover {
  color: blue;
}

.options ul li p {
  font-size: 15px;
  margin-left: 10px;
}

.options ul li img {
  width: 20px;
  height: 20px;
}
