.Nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.item {
  border-left: 1px solid gray;
  padding: 0 19px;
  color: #666666;
  line-height: 30px;
  font-size: 14px;
}
.item:last-child {
  border-right: 1px solid gray;
}
.item:hover {
  color: blue;
}
