.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items {
  display: flex;
  justify-content: center;
}

.bigImg {
  margin-bottom: 20px;
  width: auto;
}
.imgWrapper {
  max-width: 974px;
  width: calc((100% - 80px) / 6);
  margin: 8px 8px 25px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.img {
  width: 100%;
  height: 370px;
  display: block;
  position: relative;
}
.text {
  padding-top: 20px;
}
.text span {
  font-size: 19px;
  color: black;
  font-weight: 1000;
}
.text p {
  font-size: 16px;
  font-weight: 500;
}
