.range {
  background-color: #007a20;
  width: 100%;
  margin-left: auto;
  background-image: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/12-dec/xmas-sale/global/mw_desk_1440x664_green.jpg");
  height: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textElement {
  background-color: #15a66d;
  margin-bottom: 5px;
}
.textElement:first-child {
  margin-top: 30px;
}
.textElement:last-child {
  margin-top: 10px;
}
.largeText {
  margin: 10px;
  color: white;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 2.8px;
  font-weight: 900;
  font-style: italic;
}

.smallText {
  font-size: 24px;
  color: white;
  margin: 5px;
  letter-spacing: 2.8px;
  font-weight: 900;
}
