.form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: white;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
.input:focus {
  width: 300px;
}
.button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: relative;
  top: -2px;
  right: 50px;
}
.button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
