.form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.input {
  width: 500px;
  height: 35px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: white;
  outline: none;
  position: relative;
}
.button {
  width: 35px;
  height: 35px;
  background: none;
  position: relative;
  right: 50px;
  border: 1px solid green;
  border-radius: 50%;
}
.button::after {
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
