/* Статические стили */

.section {
  width: 100%;
  padding: 0 16px;
  min-width: 288px;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  position: relative;
  clear: both;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0;
  letter-spacing: 0;
  z-index: 0;
}

.section ul {
  list-style: none;
}

.item {
  width: 100%;
  margin: 0 auto 24px;
  position: relative;
  list-style: none;
}

.moment {
  padding: 0;
  z-index: -100;
  position: relative;
  line-height: 0;
}

.momentWrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 128%;
}

.momentWrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  display: block;
  width: auto;
  height: 100%;
}

.text {
  margin-top: 0;
  padding: 16px 16px 0;
  text-align: center;
  z-index: 300;
  position: relative;
  white-space: pre-line;
  line-height: 0;
}

.textTitle {
  max-height: 64px;
  overflow: hidden;
}

.textTitle h2 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #eee;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 30px;
  padding: 5px 0;
}

.textTitle h2 {
  color: #000000;
}

.textP {
  max-height: 50px;
  overflow: hidden;
  margin-top: 8px;
  padding: 0 5px;
}

.textP p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.6px;
  display: inline;
  padding: 2px 0 3px 0;
  box-decoration-break: clone;
  color: #000000;
}

.btn {
  width: 100%;
  max-width: 248px;
  box-sizing: border-box;
  white-space: normal;
  margin: 16px auto 0;
}

.btn span {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  overflow: hidden;
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
  min-width: 184px;
  min-height: 44px;
  width: 100%;
  padding: 9px 14px;
  margin: 12px 6px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 39px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.4s, border-color 0.4s,
    color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s, border-color 0.4s,
    color 0.4s ease-in-out;
  -o-transition: background-color 0.4s, border-color 0.4s,
    color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s, border-color 0.4s,
    color 0.4s ease-in-out;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s ease-in-out;
  border: 2px solid #2d2d2d;
}

.btn span:hover {
  background-color: black;
  color: white;
}

/* Медиа запросы */

/* Начало Section */
@media (min-width: 1322px) {
  .section {
    width: 1322px;
  }
}

@media (min-width: 1024px) {
  .section {
    margin: 0 auto 48px auto;
    padding: 0 32px;
  }
}

@media (min-width: 736px) {
  .section {
    min-width: 688px;
    padding: 0 24px;
  }
}
/* Конец Section */

/* Начало Item */
@media (min-width: 1322px) {
  .item:first-child {
    margin-right: 24px;
  }
}

@media (min-width: 1024px) {
  .item:first-of-type {
    margin-right: 24px;
  }
}

@media (min-width: 736px) {
  .item:first-child {
    margin-right: 16px;
  }
}

@media (min-width: 1322px) {
  .item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
}

@media (min-width: 1024px) {
  .item {
    width: calc((((100% - 220px) / 12) * 6) + 100px - 14px);
    max-width: 498.5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 0px;
  }
}

@media (min-width: 736px) {
  .item {
    width: calc(((100% - 220px) / 12) * 6 + 100px - 6px);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
}
/* Конец Item */

/* Начало Moment */
@media (min-width: 1322px) {
  .moment {
    z-index: -100;
    position: relative;
  }
}
/* Конец Moment */

/* Начало MomentWrap */
@media (min-width: 1322px) {
  .momentWrap {
    position: relative;
  }
}
/* Конец MomentWrap */

/* Начало Momentwrap img */
@media (min-width: 1322px) {
  .momentWrap img {
    z-index: 100;
  }
}
/* Конец MomentWrap img */

/* Начало text */
@media (min-width: 1322px) {
  .text {
    padding: 16px 32px 0 32px;
  }
}
/* Конец text */

/* Начало textTitle */
@media (min-width: 1322px) {
  .textTitle {
    max-height: 82px;
    overflow: hidden;
  }
}

@media (min-width: 736px) {
  .textTitle {
    max-height: 82px;
  }
}
/* Конец textTitle */

/* Начало textTitle h2 */
@media (min-width: 1024px) {
  .textTitle h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 736px) {
  .textTitle h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.2px;
    display: inline;
    box-decoration-break: clone;
  }
}

@media (min-width: 1024px) {
  .textTitle h2 {
    font-size: 25px;
  }
}

/* Конец textTitle h2 */

/* Начало btn */
@media (min-width: 1024px) {
  .btn {
    max-width: 100%;
  }
}
/* Конец btn */

/* Начало btn span */
@media (min-width: 1024px) {
  .btn span:last-of-type {
    margin-left: 8px;
  }
}

@media (min-width: 1024px) {
  .btn span:first-of-type {
    margin-right: 8px;
  }
}

@media (min-width: 1024px) {
  .btn span {
    margin: 0;
  }
}
/* Конец btn span */
